<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default buffer-both">
      <div class="panel-heading">
        <h2 class="panel_title">
          <strong>Вход</strong>
        </h2>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <% unless resource.errors.empty?%>
                <div class="alert alert-danger fade in">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <%= devise_error_messages! %>
                </div>
            <% end %>

            <div class="form-group">
              <%= f.label :email %><br/>
              <%= f.email_field :email, autofocus: true, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :password %>
              <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br/>
              <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
            </div>

            <% if devise_mapping.rememberable? %>
                <div class="form-group">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
            <% end %>

            <div class="actions">
              <%= f.submit "Войти", class: 'btn btn-primary' %>
            </div>
        <% end %>
      </div>
      <div class="panel-footer">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>